#home {
  /* Same margin-top as .section-title padding-top in App.css */
  margin-top: 5rem;
}

#home-section {
  display: flex;
  gap: 2rem;
  align-items: flex-end;
  padding-top: 10rem;
  margin-bottom: 2.5em;
  width: 100%
}

.home-content {
  flex: 1;
}

#home-title {
  font-size: 4rem;
  font-weight: 400;
}

#home-subtitle {
  font-size: 2rem;
  font-weight: 500;
}

#home-description {
  font-size: 1rem;
  padding-top: 1.5rem;
  font-weight: 500;
  color: rgb(100, 100, 100);
}
