@media only screen and (max-width: 1020px) {
  .MuiTypography-h1 {
    font-size: 5rem;
  }
  
  .MuiTypography-h2 {
    font-size: 3.25rem;
  }

  .MuiTypography-h3 {
    font-size: 2.75rem;
  }
}

@media only screen and (max-width: 780px) {
  .MuiTypography-h1 {
    font-size: 4.5rem;
  }
  
  .MuiTypography-h2 {
    font-size: 3rem;
  }

  .MuiTypography-h3 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 680px) {
  .MuiTypography-h1 {
    font-size: 4rem;
  }
  
  .MuiTypography-h2 {
    font-size: 2.75rem;
  }


  .MuiTypography-h3 {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 580px) {
  .MuiTypography-h1 {
    font-size: 3.25rem;
  }
  
  .MuiTypography-h2 {
    font-size: 2.25rem;
  }
}

@media only screen and (max-width: 540px) {
  #main-links {
    text-align: center;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fixed-link {
    border-radius: 1em;
  }
}

@media only screen and (max-width: 480px) {
  .MuiTypography-h1 {
    font-size: 2.75rem;
  }

  .MuiTypography-h2 {
    font-size: 2rem;
  }
}