#app-bar {
  background-color: rgb(255, 255, 255);
  box-shadow: none;
}

#main-nav-icon, .social-icon {
  fill: black;
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
}

#main-nav-icon {
  padding-right: 1.5rem;
  /* Adding some padding to the top to make up for the descender of the g in the logo */
  padding-top: 0.5rem;
}

.nav-item {
  text-align: center;
  font-size: 1rem;
  padding: 0 1rem;
}

.nav-item:hover {
  color: rgb(125, 125, 125);
}

#socials {
  margin-left: auto;
  margin-right: 0;
}

.social-icon {
  padding-left: 1rem;
  width: 1.75rem;
  height: 1.75rem;
}

.social-icon:hover {
  fill: rgb(125, 125, 125);
}
