.menu-button {
  padding: 0.5rem
}

.menu-icon {
  width: 2.5rem;
  height: 2.5rem;
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
}

.nav-drawer {
  background: rgb(60, 60, 60);
}

.nav-item {
  text-align: center;
}

.nav-item:hover {
  background-color: rgb(53, 53, 53);
}